:root{
--Bright-Red: hsl(12, 88%, 59%);
--Dark-Blue: hsl(228, 39%, 23%);
--Dark-Grayish-Blue: hsl(227, 12%, 61%);
--Very-Dark-Blue: hsl(233, 12%, 13%);
--Very-Pale-Red: hsl(13, 100%, 96%);
--Vary-Light-Gray: hsl(0, 0%, 98%);
}
body{
    font-family: 'Be Vietnam';
    font-size: 16px ;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /*background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/

}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Be Vietnam';
    font-size: 16px ;
}
.container{
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    padding-top: 40px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px !important;
}
nav a{
    margin-right: 2em;
    color: var(--Dark-Blue);
}
nav a:hover{
    color: var(--Dark-Grayish-Blue);
}
#btn-header , #btn-box1{
    background-color: var(--Bright-Red);
    font-size: 14px;
    border-radius: 5em;
    padding: 1em 2em;
    color: white;
    letter-spacing: 0.08em;
}
#btn-box3{
    background-color: var(--Bright-Red);
    font-size: 14px;
    border-radius: 5em;
    padding: 1em 2em;
    color: white;
    text-align: center;
    letter-spacing: 0.08em;
}
.box1, .box2{
    display: flex;
    margin: 3em;
    justify-content: space-between;
}
h1{
    width: 80%;
    font-size: 3.2em;
    color: var(--Dark-Blue);
}
h2{
    font-size: 2.5em;
    color: var(--Dark-Blue);  
}
h3{
    font-size: 1em;
    color: var(--Dark-Blue); 
}
h4{
    text-align: center;
}
#title{
    margin-bottom: 2em;
}
.box1 p{
    width: 50%;
    color: var(--Dark-Grayish-Blue);
    line-height: 2em;
    margin-bottom: 3em;
}
.box2 p{
    width: 80%;
    color: var(--Dark-Grayish-Blue);
    line-height: 2em;
}
.list-box2{
    margin-top: 3em;
}
.para{
    margin-left: 6em;
}
.para1{
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}
.number::after{
    background-color: var(--Bright-Red);
    color: white;
    border-radius: 25px;
    padding: 0.5em 1.3em;
    margin-right: 2em;
}
.list:first-child .number::after{
    content:'01';
}
.list:nth-child(2) .number::after{
    content:'02';
}
.list:last-child .number::after{
    content:'03';
}
#title{
    text-align: center;
}
.list-box3{
    display: flex;
}
.card{
    background-color: var(--Vary-Light-Gray);
    margin-right: 1em;
    padding: 2em;
    position: relative;
}
.img-card{
    width: 70px;
    position: absolute;
    bottom: 85%;
    left: 40%;
}
.list-box3{
    margin-bottom: 2em;
}
.button{
    text-align: center;
}
.box3{
    justify-content: space-between;
    margin-bottom: 8em;
}
.footer{
    background-color: var(--Bright-Red);
    padding: 2em 5em;
    justify-content: space-between;
    display: flex;
    position: relative;
}
#title-footer{
    width: 40%;
    color: white;
}
#btn-footer{
    background-color: white;
    font-size: 14px;
    border-radius: 5em;
    padding: 1em 2em;
    color: var(--Bright-Red);
    letter-spacing: 0.08em;
    position: absolute;
    left: 80%;
    top: 7em;
}
.footer2{
    background-color: black;
    padding: 2em 5em;
}
#logo{
    margin-bottom: 5em;
}
.list-footer{
    color: white;
}
.part{
    display: flex;
}
.part1{
    margin-right: 4em;
    margin-top: 1em;
}
.part2{
    display: flex;
    margin-right: 20em;
}
.list1{
    margin-right: 8em;
}
.list-footer{
    line-height: 2em;
}
#mail{
    border: none;
    border-radius: 50px;
    padding: 0.8em;
    margin-right: 0.5em;
}
#btn{
    border: none;
    border-radius: 25px;
    padding: 0.7em 1.3em;
    background-color: var(--Bright-Red);
    color: white;
    font-size: 14px;
}
form{
    margin-bottom: 4em;
    margin-top: 1em;
}
h6{
    color: gray;
    text-align: right;
}
#btn-header:hover, #btn-box1:hover, #btn-box3:hover {
    -webkit-box-shadow: 2px 7px 20px 1px hsl(12, 88%, 59%); 
    box-shadow: 2px 7px 20px 1px hsl(12, 88%, 59%); 
    opacity: 0.7; 
    cursor: pointer;
}
#btn:hover,#btn-footer:hover{
    opacity: 0.9;
    cursor: pointer;
}
.list-footer:hover{
    color: var(--Bright-Red);
    cursor: pointer;
}