@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --main: whitesmoke;
    --text: white;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    background-color: var(--main)
}
ul,ol{
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    margin-bottom: 2em;

}
h1{
    font-size: 50px;
}
nav{
    padding: 2.5em;
    margin-left: 1em;
    padding-right: 0em;
}
a{
    text-decoration: none;
    margin-right: 1em;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
#logo{
    padding: 1em;
    font-size: 20px;
}
h1{
    font-family: cursive;
    line-height: 0.5em;
}
span{
    font-size: 15px;
    font-family: cursive;
    padding: 6em;
    color: darkcyan;
}
.icon{
    display: flex;
    font-size: 12px;
}
.list{
    font-size: 12px;
    margin-right: 1em;
    color: black;
    font-weight: 500;
    border-width: 0 1px 0 0;
    border-style: solid;
    padding: 0 20px;
}
#img1{
    width: 100%;
    height: 600px;
    opacity: 0.9;
    position: relative;
}
.box1 p{
    position: absolute;
    font-size: 80px;
    font-weight: 800;
    color: white;
    top: 4em;
    /* left: 0.5em; */
    font-family: math;
    text-align: center;
}
#btn{
    position: absolute;
    top: 40em;
    left: 32em;
    border-style: solid;
    border-radius: 50px;
    padding: 0.5em 2em;
    color: white;
}
.box1{
    padding-bottom: 5em;
}
#img2{
    width: 600px;
    height: 750px;
    position: relative;
}
.img{
    width: 150px;
    height: 200px;
    padding-bottom: 1em;
}
.box2{
    display: flex;
    margin: 2.5em;
    padding-bottom: 4em;
}
.meubles{
    display: grid;
    grid-template-columns: 50% 50%;
}
.sal{
    margin-right: 2em;
}
.salon{
    background: rgb(223 223 228);
    margin: 1em 3em;
    text-align: center;
    padding: 2em;
    padding-top: 2.5em;
    position: relative;
}
.ref{
    position: absolute;
    top: 0.5em;
    left: 1em;
    background: #106763;
    padding: 0.2em 1em;
    /*color: 69px 0px;*/
    border-radius: 30px 0px;
    color: white;
}
#btn1{
    position: absolute;
    top: 60em;
    /* bottom: 5em; */
    /* text-align: center; */
    right: 44.4em;
    background: silver;
    padding: 0.5em 3em;
    opacity: 0.6;
    border-radius: 50px;
}
.para{
    font-size: 12px;
    padding-top: 2em;
    margin: 0em;
    background: #969155;
    padding: 0.5em;
    color: white;
}
h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.chambres{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    margin-left: 3em;
}
.img3{
    width: 300px;
    padding: 4em 2.15em 2em;
    padding-bottom: 1em;
}
.nouveau{
    margin: 1em;
    background: rgb(223 223 228);
    position: relative;
}
.ref1{
    position: absolute;
    top: 1em;
    left: 1em;
    background: #106763;
    padding: 0.5em 1.5em;
    border-radius: 30px 0px;
    color: white;
}
.para1{
    margin: 1em;
    text-align: center;
    font-weight: 900;
}
/*.img3:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
     transform:scale(1.25);   
}*/
nav a:hover{
    color: #867e53;
}
#btn:hover {
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}
#btn1:hover{
    opacity: 0.5;
}
.box3{
    padding-bottom: 6em;
}
.box4{
    display: flex;
    margin-bottom: 5em;
}
#img4{
    width: 550px;
    height: 450px;
}
.box4 p{
    background: rgb(223 223 228);
    margin: 0em;
    margin-bottom: 0.33em;
    padding: 2em;
    padding-top: 7em;
    font-size: 20px;
    font-family: cursive;
}
.nouveau ul{
    justify-content: space-between;
    font-size: 18px;
    margin: 0em;
    margin-right: 2em;
}
.nouveau ul li i{
    padding: 0.5em;
    background: #969155;
    display: none;
}
.nouveau:hover  .nv1 i,.nouveau:hover  .nv2 i,.nouveau:hover  .nv3 i,.nouveau:hover  .nv4 i,.nouveau:hover  .nv5 i,.nouveau:hover  .nv6 i{
    display: block;
}
.icon2{
    padding: 0em;
}
.ic2 span{
    padding: 0.5em;
}
#para2{
    padding: 1em;
}
.box5{
    background: darkcyan; 
    position: relative;
    padding-bottom: 5em;
}
.part0{
    display: flex;
}
.part1{
    padding: 2em;
    line-height: 2em;
    font-weight: 500;
}
.part1 p{
    font-size: 20px;
}
.part1 p, .part1 ul li span, .part2 ul li span{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.icon2 li i{
    color: white;
}
.para3{
    color: white;
    padding: 0.5em;
}
.part2 ul li i{
    color: white;
}
.part2 h2{
    padding-left: 1.5em;
    font-size: 20px;
    color: white;
    font-weight: normal;
}
.part2{
    padding-top: 2.5em;
}
#email{
    width: 15em;
    padding: 1em;
    margin-bottom: 1em;
}
.part3{
    padding-top: 5.4em;
    padding-left: 5em;
}

#btn2{
    background: #969155;
    padding: 0.5em 3.32em;
    color: white;
    opacity: 0.9;
}
#image{
    width: 200px;
    height: 200px;
    padding-top: 2.3em;
    padding-left: 6em;
}
#icon4{
    display: flex;
    position: absolute;
    top: 18em;
    left: 30em;
}
#ic4 i{
    padding: 0.7em 0.9em; 
    background: white;
    border-radius: 50%;
    color: darkcyan;
    margin-right: 0.5em;
}
.ic4 i{
    background: white;
    padding: 0.7em;
    border-radius: 50%;
    color: darkcyan;
    margin-right: 0.5em;
}
#text1{
    text-align: center;
    color: white;
    font-weight: 600;
}
@media(max-width: 576px){
.container{
    position: relative;
}
.logo{
    margin: 4em;
}
.icon{
    position: absolute;
    top: 0.5em;
    left: 0em;
}
.icon li a{
    font-size: 10px;
}
nav{
    display: flex;
    position: absolute;
    font-size: 12px;
    bottom: 2em;
    left: -22px;
    
}
#img1{
    max-width: 100%;
}
.box1 p{
    font-size: 39px;
    top: 10em;
}
#btn{
    left: 5.5em;
    top: 43em;
}
.box2{
    display: block;
}
#img2{
    max-width: 100%;
    height: 400px;
    margin-left: 1em;
}
#btn1{
    font-size: 13px;
    top: 90em;
    padding: 0.5em 1em;
    right: 5.5em;
}
.box3{
    margin-bottom: -3em;
}
.meubles{
    display: block;
}
.salon{
    margin: 1em 2em;
    margin-right: 1.5em;
}
.chambres{
    display: block;
    margin: 0em;
}
.nouveau{
    margin-bottom: 4em;
    position: relative;
}
.img3{
    width: 250px;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-left: 2.5em;
    margin-bottom: 2em;
}
.nouveau ul{
    position: absolute;
    top: 14.5em;
    right: 0em;
}
/*.icon{
    position: absolute;
    top: 14.5em;
    left: 0em;
}*/
.box4{
    display: block;
}
.box4 p{
    margin-bottom: 0em;
    padding-top: 2.5em;
}
#img4{
    max-width: 100%;
}
.part0{
    display: block;
}
.part1{
    margin-bottom: -3em;
}
.part2{
    display: block;
}
.part2 h2{
    padding-right: 11em;
}
.part3{
    margin-left: -1em;
    margin-bottom: 2em;
    padding-top: 2em;
}
#image{
    margin-left: -1em;
    margin-bottom: 1em;
}
#icon4{
    top: 53em;
    left: 2.8em;
}
}
@media screen   and  (min-width: 768px) and (max-width: 1024px){
.icon{
        padding-left: 5em;
}
nav{
    display: flex;
    margin-left: 5em;
}
#img1{
    width: 1341px;
    height: 600px;
    opacity: 0.9;
    position: relative;
}
.box1 p{
    font-size: 82px;
    top: 4em;
    right: -7em;
}
.box3 h2{
    margin-left: 16em;
}
.chambres{
    margin-right: -32em;
}
}








 
    








